@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #4A90E2;
  --color-background-light: #f6f6f8;
  --color-background-dark: #121212;
  --font-display: "Inter", "sans-serif";
}

body {
  @apply bg-background-light dark:bg-background-dark font-display text-[#EAEAEA];
}
